#Nikston{
    background:linear-gradient(135deg,#363636,#161616);
}
#Nikston *{
    scrollbar-color:#606060 #0000;
}
#Nikston *::-webkit-scrollbar-thumb{
	background:#7676764d;
	border-radius:5px;
}
#Nikston *::-webkit-scrollbar-thumb:hover{
	background:#76767680;
}
#Nikston *::-webkit-scrollbar-corner{
	background:transparent;
}
#Nikston > *{
    background:#303030;
    box-shadow:inset 6px 6px 7px -6px black;
}
#Nikston button{
    -webkit-tap-highlight-color:transparent;
}
#Top_Panel{
    background:#3d3d3d;
    box-shadow:0px 0px 7px 0px black;
}
#Top_Panel > button{
    background:#353535;
	box-shadow:1px 1px 3px -1px black;
}
#Top_Panel > [active]{
    background:#5c5c5c;
	box-shadow:1px 1px 3px -1px black;
}
#Top_Panel > button > svg > path{
    fill:#666666;
}
#Top_Panel > [active] > svg > path{
    fill:#c9c9c9;
}
#Right_Panel_Resize_Button{
    background:#00000000;
    box-shadow:none;
}
#Bottom_Panel_Resize_Button_T{
    background:#00000000;
    box-shadow:none;
}
#Bottom_Panel_Resize_Button_R{
    background:#00000000;
    box-shadow:none;
}
#Bottom_Panel_Resize_Button_L{
    background:#00000000;
    box-shadow:none;
}
#Left_Panel_Resize_Button{
    background:#00000000;
    box-shadow:none;
}
#Start_Frame_Window{
    background:#282828;
	box-shadow:0px 0px 0px 1px #464646;
}
#Frame_Website{
    box-shadow:0px 0px 0px 1px #464646;
}
#Highlight_From_The_Layer{
    background:#004fa542;
	box-shadow:inset 0px 0px 0px 1px #0066ff61;
}
#Dom_Layers_Elements{
    background:#3d3d3d;
    box-shadow:none;
    filter:drop-shadow(#181818 2px 4px 3px);
}
#Dom_Layers_Elements[movement]{
    filter:drop-shadow(#1e1e1e 6px 6px 12px);
}
#Dom_Layers_Elements_Button{
    background:#303030;
}
#Dom_Layers_Elements_Button[active]{
    background:#3d3d3d;
}
#Dom_Layers_Elements_Button > svg >path{
    fill:#666666;
}
#Dom_Layers_Elements_Button[active] > svg >path{
    fill:#ffffff;
}
#Dom_Layers_Elements_Content{
    background:#343434;
}
#Dom_Layers_Elements_Content div{
    background:#424242;
}
#Dom_Layers_Elements_Content button{
    background:transparent;
}
#Dom_Layers_Elements_Content button > svg > path{
	fill:#5a5a5a;
}
#Dom_Layers_Elements_Content p{
    box-shadow:inset 0px -1px 0px 0px #282828;
}
#Dom_Layers_Elements_Content p:hover{
	background:#505050;
}
#Dom_Layers_Elements_Content span{
    color:#bfbfbf;
}
#Dom_Layers_Elements_Content input{
    background:transparent;
	color:#a3a3a3;
}
#Dom_Layers_Elements_Content p >[active]{
    background:#323232;
    box-shadow:inset 0px 0px 0px 3px #004fa5;
}

#Css_Code_Elements{
    background:#3d3d3d;
    box-shadow:none;
    filter:drop-shadow(#181818 2px 4px 3px);
}
#Css_Code_Elements[movement]{
    filter:drop-shadow(#1e1e1e 6px 6px 12px);
}
#Css_Code_Elements_Button{
    background:#303030;
}
#Css_Code_Elements_Button[active]{
    background:#3d3d3d;
}
#Css_Code_Elements_Button > svg >path{
    fill:#666666;
}
#Css_Code_Elements_Button[active] > svg >path{
    fill:#ffffff;
}
#Css_Code_Elements_View{
    background:#101010;
	color:#ffffff;
}
#Html_Code_Elements{
    background:#3d3d3d;
    box-shadow:none;
    filter:drop-shadow(#181818 2px 4px 3px);
}
#Html_Code_Elements[movement]{
    filter:drop-shadow(#1e1e1e 6px 6px 12px);
}
#Html_Code_Elements_Button{
    background:#303030;
}
#Html_Code_Elements_Button[active]{
    background:#3d3d3d;
}
#Html_Code_Elements_Button > svg >path{
    fill:#666666;
}
#Html_Code_Elements_Button[active] > svg >path{
    fill:#ffffff;
}
#Html_Code_Elements_View{
    background:#101010;
	color:#ffffff;
}
#Css_Styles_Elements{
    background:#3d3d3d;
    box-shadow:none;
    filter:drop-shadow(#181818 2px 4px 3px);
}
#Css_Styles_Elements[movement]{
    filter:drop-shadow(#1e1e1e 6px 6px 12px);
}
#Css_Styles_Elements_Button{
    background:#303030;
}
#Css_Styles_Elements_Button[active]{
    background:#3d3d3d;
}
#Css_Styles_Elements_Button > svg >path{
    fill:#666666;
}
#Css_Styles_Elements_Button[active] > svg >path{
    fill:#ffffff;
}